.nav {
  display: flex;
  justify-content: space-between;
}

.nav__log {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: black;
}

.nav__link:hover {
  color:blue;
  text-decoration: underline;
}
