.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  background-color: #FFFFFF;
  background-image: url();

}

.header {
  padding: 30px 80px 40px;
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__log {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 20px;

}

.nav__link {
  text-decoration: none;
  color: black;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  width: 645px;
  height: 568px;
  border-radius: 50%;


}
.header__title {
  z-index: 1;
  margin: 0;
  padding-bottom: 28px;
  max-width: 729px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: -0.6px;
}

.header__span-accent {
  display: block;
  padding: 183px 0 0;
  margin: 0;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  color: #2F80ED;
  overflow: hidden;
}

.header__description {
  max-width: 650px;
  padding: 0;
  margin: 0;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__footer {
  display: flex;
  margin-top: auto;
  margin-bottom: 0;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383
}

.header__paragraphs{
  margin: 0;

}

.header__paragraph {
  margin-bottom:0;
  margin-top: 40px;
}

.content{
  min-height: 720px;
  max-height: 800px;
  height: 100vh;
}

.recipes {
  padding: 100px 80px 215px;
  background-color: #0A2750;
}

.recipes__title {
  max-width: 580px;
  padding-bottom: 24px;
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;

}

.recipes__subtitle {
  max-width: 438px;
  padding-bottom: 80px;
  margin: 0;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: white;

}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 24px;
  color: white;

}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.reservation {
  min-height: 720px;
  max-height: 1000px;
  height: 200vh;
  background-color: #D9E7FF;

}

.reservation__title {
  margin: 0;
  padding: 100px 0 80px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.reservation__form {
  max-width: 385px;
  margin: 0 auto;
  padding-bottom: 120px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0 0 32px;
}

.form__fieldset_type_submit {
  padding-bottom: 0;
}

.form__label {
  padding-bottom: 8px;
  padding-top: 0;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

}

.form__button {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  background: #2f80ed;
  color: white;
  border-radius: 4px;
  height: 60px;
  padding: 0;
}

.form__button:hover {
  opacity: 100%;
  box-shadow: 10px 12px 15px rgba(0, 0, 0, .1);
}

.form__input {
  border-radius: 4px;
  border: 1px solid #838383;
  height: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  padding-left: 24px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  padding: 32px 0 0;
}

.input__checkbox {
  border-radius: 2px;
  background: #2F80ED;
  height: 20px;
  width: 20px;
  position: relative;
  right: 12px;
}

.form__input::placeholder {
  color: #838383;
}
